/* Network Map Styles */

/* Stop node labels from being able to be selected */
.node {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* Overview Styles */
.NetworkMap-Views-OverviewManager > hr {
  margin: 1px 0 1px 0;
}

.NetworkMap-Views-OverviewManager {
  cursor: move;
}

.NetworkMap-Views-Overview {
}
